<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" >
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>myBanking</title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>

        <nav>
            <a th:href="@{'/?username=' + ${bankUser.username}}">Home</a>
            <a th:href="@{'/balance'+ '?username=' + ${bankUser.username}}">View Balance</a>
            <a th:href="@{'/deposit'+ '?username=' + ${bankUser.username}}">Deposit</a>
            <a th:href="@{'/withdraw'+ '?username=' + ${bankUser.username}}">Withdraw</a>
            <a th:href="@{'/transfer'+ '?username=' + ${bankUser.username}}">Transfer</a>
        </nav>
        <h1>Create Bank Account</h1>

        <label>Your new bank account`s name:</label>

        <form th:action="@{'/create'+ '?username=' + ${bankUser.username}}" method="post" th:object="${bankAccount}">

            <label for="accountName" >Account name:</label>
            <input required id="accountName" th:name="accountName" class="accountName" type="text"
                   name="accountName"  placeholder="type account name" size="12"
                   th:field="*{accountName}" >

            <div th:if="${loginError}" class="alert-warning">
                <p th:text="${loginError}" style="color: red;"></p>
            </div>

            <input type="submit" value="Create">
        </form>
        <!-- Bootstrap JS Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>