<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <title>myBanking</title>
    </head>
    <body th:object="${bankUser}">

        <header>
            <h1>myBanking</h1>
            <nav>
                <a th:href="@{'/balance'+ '?username=' + ${bankUser.username}}">View Balance</a>
                <a th:href="@{'/deposit'+ '?username=' + ${bankUser.username}}">Deposit</a>
                <a th:href="@{'/withdraw'+ '?username=' + ${bankUser.username}}">Withdraw</a>
                <a th:href="@{'/transfer'+ '?username=' + ${bankUser.username}}">Transfer</a>
                <a th:href="@{'/create'+ '?username=' + ${bankUser.username}}">Create Account</a>
            </nav>
        </header>

        <label for="userinfoUsername">Username</label>
        <div id="userinfoUsername" class="userinfoUsername">
            <p th:text="${bankUser.getUsername()}" style="color: red;">Username</p>
        </div>

        <label for="userinfoName">Name</label>
        <div id="userinfoName" class="userinfoName">
            <p th:text="${bankUser.getName()}" style="color: red;">Name</p>
        </div>

<!--        <label for="userinfoAccounts">Number of Accounts</label>-->
<!--        <div id="userinfoAccounts" class="userinfo">-->
<!--            <p th:text="${numberOfAccounts}" style="color: red;">Number of Accounts</p>-->
<!--        </div>-->
    </body>
</html>