<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" >
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>

        <nav>
            <a href="/register">Register</a>
        </nav>
        <h1>Login</h1>


        <label>Please sign in!</label>

        <form th:action="@{/login}" method="post" th:object="${user}">

            <label for="username" >Username</label>
            <input required id="username" th:name="username" class="username" type="text"
                   name="username"  placeholder="type your username" size="12"
                   th:field="*{username}" >

            <label for="password">Password</label>
            <input id="password" class="password" type="password"
                   name="password"  placeholder="type your password" size="12"
                   th:field="*{password}">

            <div th:if="${loginError}" class="alert-warning">
                <p th:text="${loginError}" style="color: red;"></p>
            </div>

            <input type="submit" value="Login">
        </form>

    </body>
</html>