<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" >
<head>
    <meta charset="UTF-8">
    <title>myBanking</title>
</head>
<body>

<nav>
    <a th:href="@{'/?username=' + ${bankUser.username}}">Home</a>
    <a th:href="@{'/balance'+ '?username=' + ${bankUser.username}}">View Balance</a>
    <a th:href="@{'/deposit'+ '?username=' + ${bankUser.username}}">Deposit</a>
    <a th:href="@{'/transfer'+ '?username=' + ${bankUser.username}}">Transfer</a>
    <a th:href="@{'/create'+ '?username=' + ${bankUser.username}}">Create Account</a>
</nav>

<h1>Withdraw</h1>

<label>Withdraw details:</label>

<form th:action="@{'/withdraw'+ '?username=' + ${bankUser.username}}" method="post" th:object="${bankUser}">

    <label for="bankAccount" >Bank Account</label>
    <select class="" id="bankAccount" name="accountName">
        <option value="">Select Bank Account</option>
        <option th:each="account : *{bankAccountList}" th:value="${account.accountName}" th:text="${account.accountName}"></option>
    </select>

    <label for="amount">Withdraw Amount:</label>
    <input required id="amount" class="amount" type="text" min="1" max="1000000000"
           name="amount"  placeholder="Withdraw amount" size="12">

    <div th:if="${withdrawError}" class="alert-warning">
        <p th:text="${withdrawError}" >error</p>
    </div>

    <input type="submit" value="Withdraw money">
</form>

</body>
</html>